extends layout

block content
  h1 Insere uma nova música! 


  form(action="/musicas",method="post")
    label Titulo 
    input(type="text",name="tit")
    label Provincia 
    input(type="text",name="prov")
    input(type="hidden",name="id")
    input(type="submit",value="Registar")
    input(type="reset",value="Apagar")